################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ModelFitting.log
/report.pdf
/TRISTAN LOGO.pdf
/TRISTAN LOGO-1.jpg
/report1.pdf
/TRISTAN.log
