################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ModelFitting.log
/report.pdf
/TRISTAN LOGO.pdf
/TRISTAN LOGO-1.jpg
/report1.pdf
/TRISTAN.log
/Copy of Bayer_Rat1_Day1_ConcentrationData.csv
/Bayer_Rat1_Day1_ConcentrationData.csv
/report1a.pdf
/report1b.pdf
/report2a.pdf
/report2b.pdf
/report3a.pdf
/report3b.pdf
/report4a.pdf
/report4b.pdf
/plot.csv
/README.txt
/_pycache_
/report2.pdf
/__pycache__/ExceptionHandling.cpython-37.pyc
/__pycache__/ExcelWriter.cpython-37.pyc
/__pycache__/ModelFunctions.cpython-37.pyc
/__pycache__/ModelFunctionsHelper.cpython-37.pyc
/__pycache__/XMLReader.cpython-37.pyc
/__pycache__/PDFWriter.cpython-37.pyc
/__pycache__/StyleSheet.cpython-37.pyc
/__pycache__/Tools.cpython-37.pyc
/__pycache__/modelFittingGUI.cpython-37.pyc
